h1{ color: red;
	font-size: 3em; }
	
figure{text-align: center;}

	ul{
		border: 5px green solid;
		box-shadow: 9px 9px 1px grey;
		width:50%;
		min-width: 400px;
	
	}
	a:hover
	{
		font-weight: bold;
	}